.flex-container{
  width: 100%;
  background-color:lightgray;
  text-align: center;
  bottom:0;
  margin: 0 auto !important;
  height:100%;

  

  .flex-item1{
    height:50px;

    .search_input{

      float: left;
      height: 25px;
      width: 250px;
      margin-left: 3%;
      margin-top: 40px;
      padding: 4px 10px;
    }
  
    input[type=button] {
      background-color: #0dbb9e;
      color: white;
      padding: 10px 20px 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
      margin: 42px 2% 10px 0;
      font-weight: 700;
      //margin-top: 42px;
    }
  
    input[type=button]:hover {
        background-color: #44b19f;
    }
  }

  .flex-item2{
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 3%;

    table {
      font-family: 'Arial';
      width: 100%;
      margin: 25px 0px 25px 14px;
      background-color: white;
      border-collapse: collapse;
      border: 1px solid #eee;
      border-bottom: 2px solid #00cccc;
      box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
         0px 10px 20px rgba(0,0,0,0.05),
         0px 20px 20px rgba(0,0,0,0.05),
         0px 30px 20px rgba(0,0,0,0.05);
      tr {
         &:hover {
          background: #f4f4f4;
          
          td {
            color: #555;
          }
        }
      }
      th, td {
        color: #999;
        border: 1px solid #eee;
        padding: 12px 35px;
        border-collapse: collapse;
      }
      th {
        //background: #00cccc;
        background: #2fb99a;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        &.last {
          border-right: none;
        }
      }
    }
  }
}